
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* navbar style */

.navbar{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



.nav-items{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
   
}

.nav-items a{
    text-decoration: none;
    color: black;
}


/* Section-1 styling */

.section-1{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 100px;
}



.container h1{
    width: 64%;
    height: 27%;
    font-size: 50px;
    font-weight: 700;
}

.container p{
    width: 50%;
    height: 60px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 50px;
}

.container button{
    width: 200px;
    height: 44px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    background-color: rgba(224, 44, 109, 1);
    border: none;
    margin-top: 15px;
}
.container button:hover{
    box-shadow: 1px 1px 5px grey;
    transition: 0.3s;
    background-color:#FFF ;
    color: rgba(224, 44, 109, 1);
}

.container button i{
   margin-left: 15px;
}


/* icons styling */

.icons{
    display: flex;
    gap: 50px;
    width:1000px;
    margin: 0 auto;
    margin-top: 100px;
}



/* card styling */

main h2{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}


.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.card-container .card{
    width: 330px;
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
    margin: 0 auto;
}

.card-container .card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgb(172, 206, 237);
}

.card img{
   margin: 10px 0 0 15px;
   width: 300px;
   height: 250px;
}

.card .item-name{
    margin-left: 15px;
    width: 100%;
    height: 20px;
    font-size: 28px;
    font-weight: 500;
}
.card .item-price{
    margin-left: 15px;
    font-size: 24px;
    width: 100%;
    height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.card .item-descrpition{
    margin-left: 15px;
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-weight: 700;
    color: #7a7878;
}

.card img{
   justify-content: center;
}

.card-container .see-more{
    text-decoration: none;
    color: rgba(224, 44, 109, 1);
    font-size: 18px;
    font-weight: 700;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    
}


/* section-2 style */

.section-2{
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    gap: 100px;
}

.section-2 .image{
    display: flex;
    width: 404px;
    height: 270px;
    margin-top: 40px;
}

.section-2 .features h1{
    font-size: 38px;
    font-weight: 700;
}

.section-2 .features p{
    width: 500px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
}

.section-2 .features button{
    width: 155px;
    height: 45px;
    background-color: rgba(224, 44, 109, 1);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.features button i{
    margin-left: 10px;
}

.features button:hover{
     box-shadow: 1px 1px 5px grey;
    transition: 0.3s;
    background-color:#FFF ;
    color: rgba(224, 44, 109, 1);
}


/* footer part style */

footer{
    width: 100%;
    background-color: rgba(10, 8, 38, 1);
}
.footer{
    margin-top: 200px;
    text-align: center;
}

.footer h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    padding-top: 50px;
}

.footer p{
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
}

.footer ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.footer ul a{
    text-decoration: none;
}

.footer .icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.icon i{
    color: #e3dfdf;
}


/* responsive design */

@media screen and (max-width: 576px){
    .navbar, .container ,.section-1{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .nav-items{
        text-align: center;
        margin: auto;
        margin-top: 40px;
        margin-right: 80px;
    }

    .icons{
        width: 88px;
        margin: 0 auto;
        margin-top: 80px;
       flex-direction: column; 
        
    }

    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .section-2{
        flex-direction: column-reverse;
        text-align: center;
    }

    .section-2 .image{
        width: 100%;
    }
    .section-2 .image img{
        width: 100%;
    }

    .section-2 .features p{
        text-align: center;
        width:100%;
    }

    .container h1{
        width: 100%;
    }
    .container p{
        width: 100%;
        margin-bottom: 50px;
    }
    .container button{
        margin-bottom: 50px;
    }

    .see-more{
       text-align: center;
    }

}